/PE2LGP/Modulo_construcao_regras/Word_embeddings/
/PE2LGP/Modulo_construcao_regras/__pycache__
/PE2LGP/Modulo_tradutor/__pycache__
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.git/
.local/
.profile
.sudo_as_admin_successful
